body {
    text-align: center;
    background-color:  #6495ed;
    font-family: Arial, Helvetica, sans-serif;
}
#add{
    background-color:  salmon;
    border: 0;
    color: cadetblue;
    padding: 10px 10px;
    cursor: pointer;
    margin-top: 35px;
}

.remove {
    margin-top: 13px;
    background-color: #f2f205;
    float: right;
    clear: both;
    padding-right: 20px;
    border-radius: 5px;
    width: 60px;
    height: 20px;
    border-style: none;
}

#wrapper {
    width: 450px;
    background-color:  #98E0AD;
    margin-top: 120px;
    margin-left: 295px;
    padding-bottom: 30px;
    padding-left: 50px;
    padding-top: 30px;
    padding-right: 65px;
    border-radius: 25px;
}
ul{
    list-style: none;
    text-align: left;
    line-height: 35px;
    list-style:none;
}

#task {

    width: 320px;
    height: 30px;
    margin-left: 17px;
    margin-right: 15px;
}
h1 {
    margin-top: 20px;
}